*{
  margin: 0;
  padding: 0;
  font-family: "GothamProRegular";
}

body{
  font-family: "GothamProRegular";
}



.main{
  max-width: 1064px;
  padding: 0 calc(50% - 532px);
}



header{
  height: 636px;
  margin: 36px 15px 0 15px;
}

.logo {
  cursor: pointer;
}
.menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu * {
  border-radius: 8px;
}
.location{
  position: relative;
 }

.location select{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  position: relative;
  outline: none;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  text-align-last: right;
  appearance: none;
}


.location::after{
  content: " ";
  width: 14px;
  height: 7px;
  margin-top: 6px;
  margin-left: 6px;
  background-image: url(../img/Vector_opt.svg);
  background-repeat: no-repeat;
  position: absolute;
}

.menu_btn_enter {
  display: inline-block;
  height: 47px;
  line-height: 47px;
  margin-left: 63px;
  margin-right: 20px;
  padding: 0px 20px;
  border: 1px solid #FF6620;
  cursor: pointer;
}

.menu_btn_reg {  
  display: inline-block;
  height: 48px;
  line-height: 48px;
  color:#ffffff;
  padding: 0px 20px;
  background: #FF6620;
  cursor: pointer;
}

.content {
}
.select_game {
}
.current_games {
}
.create_games {
}
.place_rent {
}
.rent_contract {
}